doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Weixin play")
    title= title
    link(rel='stylesheet', href='http://cdn.staticfile.org/pure/0.4.2/pure-min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    .header
      .home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
        a.pure-menu-heading(href="") 329-PLAY
        ul
          li.pure-menu-selected
            a(href="#") 首页
          li
            a(href="#") 列表
          li
            a(href="") 关于
    .content-wrapper
      .content
        block content
      .footer.l-box.is-center So, Be pleasure!!!